<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmwGxLz0aZ0mDs5Sg6bwzi-v4WhGPp0C0</string>
	<key>GCM_SENDER_ID</key>
	<string>578515966691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wang.Snacktacular</string>
	<key>PROJECT_ID</key>
	<string>snacktacular-1bcbd</string>
	<key>STORAGE_BUCKET</key>
	<string>snacktacular-1bcbd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578515966691:ios:cd7031507bcb4b9c3343d6</string>
</dict>
</plist>